#app {
  max-width: 60rem;
  margin: 0 auto;
}

.mw-30 {
  max-width: 30rem;
  margin: 0 auto;
}

.center {
  display: block;
  margin: 0 auto;
}

.invalid {
  text-align: center;
  color: red;
}

.toggle {
  margin-top: 0.35em;
}

.btn-outline-warning {
  --bs-btn-color: #880;
  --bs-btn-active-color: #550;
}
