#app {
  max-width: 60rem;
  margin: 0 auto;
}

.mw-30 {
  max-width: 30rem;
  margin: 0 auto;
}

.center {
  display: block;
  margin: 0 auto;
}

.invalid {
  text-align: center;
  color: red;
}

.toggle {
  margin-top: 0.35em;
}

.btn-outline-warning {
  --bs-btn-color: #880;
  --bs-btn-active-color: #550;
}

.sprite-preview-icon {
  display: inline;
  float: left;
  padding-right: 0.7em;
}

.sprite-preview-name {
  padding-left: 0.7em;
}
